.ant-layout-sider-children .logo {
    height: 35px;
    background: rgba(255, 255, 255, 0);
    margin: 15px 30px;
    font-size: 25px;
    color: #fff;
}
  
.site-layout .site-layout-background {
    background: #fff;
}

.ant-menu-item a,
.ant-menu-item a:hover {
    color: unset;
}

.view-cart {
    cursor: pointer;
}
.view-cart:hover {
    color: #808080;
}

.ant-menu-inline-collapsed > .ant-menu-item .anticon + a {
    display: inline-block;
    max-width: 0;
    opacity: 0;
}